.rock {
  color: crimson;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar {
  float: left;
  margin-right: 50px;
  margin-left: 50px;
  padding: 1%;
  border: 1px goldenrod solid;
  background-color: lightseagreen;
}

img {
  float: right;
  width: 150px;
  height: 150px;
  margin-left: 30px;
  padding: 2%;
}

.main {
  text-align: center;
  margin-top: 50px;
  margin-right: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(164, 184, 204);
}